mixin box(class1, status, img, class2, src2, logostatus, href, classp, text)
  .Segments.u-spacer--xl
    .Box(class=class1).Box--flush
      a(href='materia.html')
        .Embed.Embed--3by2
          img.box-coverimg(src=status)
          img.image-responsive.box-imgcover(src=img)
      .box-caption(class=class2)
        img.selo(src=src2)
        .row
          if block
            block
          else
          .col-md-12
            p.text-right.color-gray 09/06/2020
            if href
              a(href='materia.html')
                h2(class=classp)= text
            else
              h2(class=classp)= text
mixin box-aside(class1, class2, text, text1)
  .Box.Box--xl.bg-gray.box-aside.u-spacer--xl(class=class1)
    p.eta(class=class2)
      strong= text
    a(href='materia.html').ellipse= text1

mixin media(class1, src, class2, status, text)
  .Media.u-spacer--xl
    .Media-figure.u-size1of4
      .Embed.Embed--16by9
        a(href='materia.html')
          img.img-responsive.img-full(src=src, alt='title', class=class1)
    .Media-body
      p.date 09/04/2020
      p(class=class2)
        strong= status
      a.Manchete-titulo(href='materia.html')
        span.titulo.eta= text